.footer {
  border-top: 1px dotted $black;
  padding: 1.2rem 0;
  display: flex;
  align-items: center;

  * {
    margin: 0.5rem;
    color: $black;
  }

  div {
    font-size: 0.8rem;
    font-weight: 300;
    &:nth-child(3) {
      margin-right: auto;
    }
  }

  i {
    font-size: 1.8rem;
  }
}
