@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

//Image variables
$pope-large: url(../assets/pope-large.jpg);
$pope-medium: url(../assets/pope-medium.jpg);

// Color variables
$primary-color: rgb(0, 193, 183);
$secondary-color: rgb(232, 157, 0);
$white: #fff;
$black: #333;
$wide-left-right-padding: 10rem;
$small-left-right-padding: 1rem;

@mixin hoverWhite {
  cursor: pointer;
  color: $white;
}

@mixin hoverPrimary {
  cursor: pointer;
  color: $secondary-color;
}

@mixin lightFont {
  font-weight: lighter;
}

@mixin bolderFont {
  font-weight: bolder;
}

@mixin easeOut {
  transition: all 0.3s ease-out;
}

//Media query mixins

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
