.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 26px;
  width: 30px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__line {
    width: 30px;
    height: 2px;
    background: white;
  }
}
