.navbar {
  width: 100%;
  background: linear-gradient(#000, transparent);
  opacity: 0.6;
  position: fixed;
  list-style: none;
  height: 100px;
  @include easeOut;

  &.minified {
    background: #000;
    opacity: 1;
    height: 80px;
  }

  &__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 $wide-left-right-padding;

    .space {
      flex: 1;
    }
  }

  &__branding {
    margin-left: 1rem;
    a {
      color: darken($white, 20);
      font-size: 1.9rem;
      text-decoration: none;
      &:hover {
        @include easeOut;
        @include hoverWhite;
      }
    }
  }

  &_navigation-items {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        padding: 0 1rem;
      }
    }

    a {
      text-decoration: none;
      color: darken($white, 20);

      &:hover,
      &:active {
        @include easeOut;
        @include hoverWhite;
      }
    }
  }
}
