.navbar {
  display: flex;
  list-style: none;
  height: 2.5rem;
  margin: 2.5rem 2rem;
  align-items: center;
  color: $white-secondary;

  .branding {
    margin-left: 2.2rem;
    margin-right: auto;
    font-size: 1.9rem;

    &:hover {
      @include hoverWhite;
    }
  }

  .nav__item {
    margin: 0 2rem;
    &:nth-child(5) {
      margin-left: 0;
      font-size: 1.5rem;
    }

    &:hover {
      @include hoverWhite;
    }
  }
}
