.navbar {
  display: flex;
  list-style: none;
  height: 2.5rem;
  margin: 2.5rem 6rem;
  align-items: center;
  color: darken($white, 20);

  .branding {
    margin-left: 2.2rem;
    margin-right: auto;
    font-size: 1.9rem;

    &:hover {
      @include easeOut;
      @include hoverWhite;
    }
  }

  .nav__item {
    margin: 0 2rem;

    &:hover {
      @include easeOut;
      @include hoverWhite;
    }

    &.search {
      margin-left: 1.5rem;
      font-size: 1.5rem;
    }
  }
}
