@import 'config';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@import 'navbar';
@import 'drawerToggleButton';
@import 'sideDrawer';
@import 'backdrop';
@import 'mobile';
